    *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(fonts/AudiType-Normal_03.ttf);
    font-family: auditype;
}
@font-face {
    src: url(fonts/AudiType-ExtendedBold_4.03.otf);
    font-family: audiextented;
}
.headerMenuContainer p {
    margin-bottom: 0 !important;
}

::selection {   
    background-color: #F50537; 
    color: rgb(255, 255, 255); 
}

.mainContainer{
    width: 100%;
    height: auto;

}
.headerContainer{
    width: 100%;
    height: 13vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.headerMenuContainer{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}
.headerlineimgContainer{
    width: 41px;
    height: 42px;
    margin-left: 45px;
    cursor: pointer;
}
.headerlineimgContainer img{
    width: 100%;
    height: 100%;
}
.sidebar{
    width: 100%;
    height: 100vh;
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1;
    flex-wrap: wrap;

}
.sidebar ul{
    list-style-type: none;
    margin-top: -43px;

}

.sidebar li:hover{
   color: black;

}


.headerMenuContainer p{
    font-family: auditype;
}
.headerrightContainer{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}

.headderRRighttt{
    display: none;
}
.headerrightContainer img{
    width: 18%;
    margin-left: 21px;

}


@media only screen and (min-width: 800px) {
    .headerrightContainer{
        width: 55%;
        height: 100%;
        display: none;
        align-items: center;
    }
}





.headerlineimgContainer1 img{
    width: 100%;




}
.headerinnerMenuContainer{
    width: 100%;
    display: flex;
    height: 13vh;


}
.headerlineimgContainer1{
    width: 41px;
    height: 42px;
    margin-left: 45px;
    cursor: pointer;
}
.headerMenuContainer1{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    
}
.headerMenuContainer1 p{
    font-family: auditype;
}

.headerMenuContainer1 p{
    margin-top: 0;
    margin-bottom: 0rem;
}

.headerRighttside{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: end;

}
.serchImg{
    width: 41px;
    height: 32px;
    cursor: pointer;
    margin-right: 21px;
}

.serchImg img{
width: 70%;
}

.introMainContainer{
    width: 100%;
    height: 92vh;
    background-image: url(assests/introimage.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: inset 0px 45px 545px rgba(0, 0, 0, 0.898);
  position: absolute;
  content: "";
  z-index: 0;
}
.introContainer{
    width: 735px;
    height: 310px;  
    padding-left: 33px;
    padding-top: 43px ;
}

@media only screen and (min-width: 600px) {
    .introbtns{
        width: 100%;
        height: 34%;
        font-family: audiextented;
        color: white;
        font-size: 13px;
        display: flex;
    }
    .introbtn1{
        width: 45%;
        height: 9vh;
        background: #ffffff;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        color: black;
    }
    
    .introbtn2{
        width: 62%;
        height: 9vh;
                margin-left: 6px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        color: white;
        border: 1px solid white;
    }
    .VirtualShowroomContant1{
        width: 45%;
        height: 30%;
        margin-left: 41px;
        background-color: #fff;
    }
    .TheHomeOfElectric{
        width: 49%; 
        height: 32%;
        background-color: white;
        margin-left: 51px;
        font-family: auditype;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

.VirtualShowroomBtn{
    width: 40%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 14px;
    cursor: pointer;
    font-family: auditype;
}
.VirtualShowroomContant1 h2{
    font-family: audiextented;
    font-size: 28px;

}

.augmentedReality{
    width: 97%;
    height: auto;
    margin-top: 115px;
    display: flex;
}

.augmentedRealityLeft{
    width: 50%;
    height: 80%;

   
}
.augmentedRealityLeft img{
    width: 96%;
    height: 91%;
    padding: 0% 2% 2% 6%;
}
.augmentedRealityRightContainer{
    width: 45%;
    height: 105vh;
    display: flex;
    align-items: center;
}

.dealerLocationLeft1{
    display: none;
    height: 100%;
    background-color: #000000;
}

.MyAudiConnectLeft11{
    display: none;
    height: 100%;
    background-color: #000000;
}
.dealerLocationLeft{
    display: flex;
    flex-wrap: wrap;
    width: 36%;

    background-color: #000000;
}


.AudiB1{
    width: 32%;
    height: 100%;
    padding-left: 2px;
    cursor: pointer;

}.YourAudiIsWaitingMainContainer{
    width: 100%;
    height: 157vh;
    margin-top: 77px;
   
}
.audiisWc{
    width: 100%;
    height: 68vh;
}

.FooterMainContainer{
    width: 100%;
    height: 146vh;
    background-color: black;
    padding-left: 4%;
}

.MyAudiConnectinnercontainer{
    width: 100%;
    height: 41%;
    margin-top: 387px;
    font-family: auditype;
    font-size: 31px;
    color: white;
}



.footerContainer1{
    width:96%;
    height: 27%;
    display: flex;

}
.ft1{
    width: 29%;
    height: 85%;
    margin-top: 41px;
    cursor: pointer;
    color: white;

}
.ft1 h6{
    font-size: 17px;
    font-family: auditype;
    margin-top: 3px;
    font-weight: 100;
}
.ft1 p{
    font-size: 12px;
    font-family: auditype;
    margin-top: 13px;
    font-weight: 100;
}
.backtotop{
    width: 91px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: auditype;
    margin-top: 11px;
    color: white;
    cursor: pointer;
    margin-left: 23px;
    
}
.backtotop p{
    font-size: 13px;
}
.backtotop span{
    margin-top: 20px;
    margin-left:6px;
}
.footerContainer2{
    width: 96%;
    height: 28%;
    display: flex;
    margin-top: 11px;

}
.ft2{
    width: 29%;
    height: 100%;
    margin-left: 2px;
    color: white;
    cursor: pointer;
}
.ft2 h6{
    font-size: 17px;
    font-family: auditype;
    margin-top: 3px;
    font-weight: 100;
    
}
.ft2 p{
    font-size: 12px;
    font-family: auditype;
    margin-top: 13px;
    font-weight: 100;
}

.footerContainer3{
    width: 96%;
    height: 21vh;
    margin-top: 21px;
}
.socialmeadias{
    display: flex;
    width: 93%;
    align-items: center;
    height: 11vh;
    justify-content: end;
}

.footerContainer3 hr{
    margin-top: 3px;
    width: 94%;
}
.socialmeadia1{
    width: 50px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.socialmeadia1:hover{
    background-color: #8671719b;

}
.socialmeadia1 svg{
    width: 40%;
    height: 40%;
}

.copywrite{
    width: 96%;
    height: 8vh;
    display: flex;
    align-items: center;

    }

.copywrite p {
    font-size: 14px;
    color: white;
    font-family: auditype;
    font-weight: 100; 
    cursor: pointer;
}
.copywritep{
    width: 94%;
    height: 29vh;
    color: white;

}
.copywritep p{
font-family: auditype;
font-size: 12px;
}
.sidebar span{
    position: absolute;
    margin-left: 123px;
    right: 0; 
}

.sidebar li{
    font-family: auditype;
    font-size: 17px;
    margin-top: 14px;
    margin-left: 65px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.657);
    position: relative;
    width: 189vh;


}


}

@media only screen and (max-width: 900px) {
    .introContainer{
        width: 100%;
        height: 100%; 
        padding: 5%;
        padding-top: 26px;
        padding-bottom: 1px;
        display: flex;
        flex-wrap: wrap;

    }
    .introbtns{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .VirtualShowroomContant{
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
    }
    
    .VirtualShowroomBtn{
        width: 231px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin-top: 14px;
        cursor: pointer;
        font-family: auditype;
    }
    .TheHomeOfElectric{
        width: 89%;
        height: 38%;        
        background-color: white;
        margin-left: 21px;
        font-family: auditype;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

.VirtualShowroomBtn{
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 14px;
    cursor: pointer;
    font-family: auditype;
}
    
.VirtualShowroomContant1 h2{
    font-family: audiextented;
    font-size: 25px;

}

.augmentedReality{
    width: 97%;
    height: auto;
    display: flex;
}

.augmentedRealityLeft{
    width: 50%;
    height: 72%;

   
}
.augmentedRealityLeft img{
    width: 96%;
    height: 86%;
    padding: 0% 2% 2% 6%;
}

.augmentedRealityRightContainer{
    width: 45%;
    height: 47%;
    display: flex;
    align-items: center;
}

.dealerLocationLeft1 p{
    font-family: audiextented;
    color: white;
    font-size: 28px;
    margin-top: 22px;
    margin-left: 60px;
}
.dealerLocationLeft1{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    background-color: #000000;

}
.MyAudiConnectLeft11{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    background-color: #000000;

}
.dealerLocationLeft1 .Dealerlocationtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    
    .dealerLocationLeft1 p {
        font-family: audiextented;
        color: white;
        font-size: 28px;
        margin-top: 22px;
         margin-left: 0!important; 
    }

.dealerLocationLeft{
    display: none;
    width: 36%;
    height: 100%;
    background-color: #000000;
}
.MyAudiConnectLeft{
    display: none;
    width: 36%;
    height: 100%;
    background-color: #000000;
}

.AudiB1{
    width: 32%;
    height: 100%;
    cursor: pointer;

}
.YourAudiIsWaitingMainContainer{
    width: 100%;
    height: 387vh;
    margin-top: 77px;
   
}
.audiisWc{
    margin-top: 193%;
    width: 100%;
    height: 202vh;
}
.FooterMainContainer{
    width: 100%;
    height: 207vh;
    background-color: black;
    padding-left: 4%;
}

.MyAudiConnectinnercontainer{
    width: 100%;
    height: 41%;
    margin-top: 87px;
    font-family: auditype;
    font-size: 31px;
    color: white;
}



.footerContainer1{
    width:96%;
    height: 27%;
    display: flex;
    flex-wrap: wrap;

}
.ft1{
    width: auto;
    height: auto;
    margin-top: 41px;
    cursor: pointer;
    color: white;
    margin-right: 8%;

}
.ft1 h6{
    font-size: 17px;
    font-family: auditype;
    margin-top: 3px;
    font-weight: 100;
}
.ft1 p{
    font-size: 12px;
    font-family: auditype;
    margin-top: 13px;
    font-weight: 100;
}
.backtotop{
   display: none !important;
    width: 91px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: auditype;
    margin-top: 11px;
    color: white;
    cursor: pointer;
    margin-left: 23px;
    
}
.backtotop p{
    font-size: 13px;
}
.backtotop span{
    margin-top: 20px;
    margin-left:6px;
}
.footerContainer2{
    width: 96%;
    height: auto;
    display: flex;


}
.ft2{
    width: 29%;
    height: 100%;
    margin-left: 2px;
    color: white;
    cursor: pointer;
}
.ft2 h6{
    font-size: 17px;
    font-family: auditype;
    margin-top: 3px;
    font-weight: 100;
    
}
.ft2 p{
    font-size: 12px;
    font-family: auditype;
    margin-top: 13px;
    font-weight: 100;
}

.footerContainer3{
    width: 96%;
    height: 21vh;
    margin-top: 21px;
}
.socialmeadias{
    display: flex;
    width: 70%;
    align-items: center;
    height: 11vh;
    justify-content: end;
}

.footerContainer3 hr{
    margin-top: 3px;
    width: 94%;
}
.socialmeadia1{
    width: 50px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.socialmeadia1:hover{
    background-color: #8671719b;

}
.socialmeadia1 svg{
    width: 40%;
    height: 40%;
}

.copywrite{
    width: 96%;
    height: 8vh;
    display: flex;
    align-items: center;

    }

.copywrite p {
    font-size: 11px;
    color: white;
    font-family: auditype;
    font-weight: 100; 
    cursor: pointer;
    margin-right: 9px;
}
.copywritep{
    width: 94%;
    height: 29vh;
    color: white;

}
.copywritep p{
font-family: auditype;
font-size: 12px;
}

.sidebar span{
    position: absolute;
    margin-left: 13px;
    right: 0; 
}
.sidebar li{
    font-family: auditype;
    font-size: 17px;
    margin-top: 14px;
    margin-left: 65px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.657);
    position: relative;
    width: 45vh;


}

}



.introTitles{
    width: 100%;
    height: 54%;
    font-family: audiextented;
    color: #ffffff;
    font-size: 21px;
}
.introbtns{
    width: 100%;
    height: 25%;
    font-family: audiextented;
    color: white;
    font-size: 13px;
    display: flex;
}


.introTitles p{
    font-family: audiextented;
    font-size: 17px;
    margin-top: 11px;
    font-weight: 100;
    
}

.introbtn1{
    width: 100%;
    height: 9vh;
    background: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.introbtn2{
    width: 100%;
    height: 9vh;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.introbtn1:hover{
    background-color: rgba(255, 255, 255, 0.633);
}
.introbtn2:hover{
    color: rgba(255, 255, 255, 0.633);
    border: 1px solid rgba(255, 255, 255, 0.633);


}

.modelsMainContainer{
    width: 100%;
    height: 31vh;

}










.modelsTitle{
    width: 100%;
    display: flex;
    height: 7vh;
  
}
.modelsTitle p::after {
    content: " ";
    display: block; 
    height: 1px;
    background-color: rgba(0, 0, 0, 0.681);
}
.modelsTitle p{
    display: inline;
    font-family: auditype;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 37px;

}

.dispModelsMainContainer{
    width: 100%;
    height: 23vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dispModelsContainer {
    width: 93%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

 .car1 {
    min-width: 226px;
    height: 100%;
    line-height: 100%;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 24px;
}
.car1 img{
    width: 95%;
    transition: all 0.3s ;


}
.car1 p{
margin-left: 85px;
color: rgba(0, 0, 0, 0.681);
transition: all 0.3s ;
font-size: 15px;
font-family: auditype;

}
.car1:hover  img {
    transform: scale(1.1);
    transition: all 0.3s ;


}
.car1:hover  p {
    transition: all 0.3s ;
    text-decoration: underline;
    color: black;


}


.dispModelsContainer::-webkit-scrollbar {
    display: none;
}
.btnRight{
    width: 51px;
    height: 100%;
    background-color: white;
    display: flex;
}
.btnRightsyle{
    margin-top: 44px;
    cursor: pointer;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.748);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.btnRightsyle p{
    margin-bottom: 0 !important;
}

.btnLeftsyle p{
    margin-bottom: 0 !important;
}



.btnLine{
    width: 0.4px;
    height: 100%;
    background-color: black;
}

.btnleft{
    width: 51px;
    height: 100%;
    background-color: white;
    display: flex;
}
.btnLeftsyle{
    margin-top: 44px;
    cursor: pointer;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.748);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.VirtualShowroomContainer
{
    width: 96%;
    height: auto;
    margin-top: 81px;
}
.VirtualShowroomImg{
    width: 45%;
    height: 100%;
    padding: 5% 2% 2% 4%;

}

.VirtualShowroomImg img{
    width: 93%;
    height: 100%;
}

.VirtualShowroomContant{
    width: 44%;
    height: 100%;
    align-items: center;
    display: flex;
}
.VirtualShowroomContant1 {
    width: 97%;
    height: 30%;
    margin-left: 17px;

}




.HomeOfMinElectricContainer{
    margin-top: 51px;
    height: 173vh;
    width: 100%;
    background-image: url(assests/E-tronHub-3840X40002.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
}



.TheHomeOfElectric2{
    width: 90%;
    height: 70%;
}
.TheHomeOfElectric2 h1{
    margin-top: 12px;
    margin-left: 12px;
}


.HomeOfElectricTitle h1{
margin-top: 22px;
margin-left: 22px;


}
.TheHomeOfElectric p{
margin-top: 22px;
margin-left: 22px;


}

.homeofp{
    width: 90%;
}
.btns{
    width: 90%;
    height: 11vh;
    display: flex;
}
.btn1{
    width: 35%;
    height: 100%;
    background-color: #000000;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 21px;
    margin-top: 11px;
    font-family: auditype;
    cursor: pointer;
}
.btn1:hover{
    background-color: #00000095;
}
.btn2{
    width: 57%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    font-family: auditype;
    cursor: pointer;

}




.augmentedRealityRight{
    width: 75%;
    height: 33vh;
}

.augmentedRealityRight p{
    font-family: auditype;
    font-size: 35px;
    margin-left: 21px;
    margin-top: 12px;
    margin-bottom: 12px;
}
 
.dealerLocationRight{
    width: 100%;
}
.dealerLocationRight img{
    width: 100%;
    height: 100%;
}
.dealerLocationLeft p{
    font-family: audiextented;
    color: white;
    font-size: 28px;
    margin-top: 22px;
    margin-left: 100px;
}


.ExploreMorebtn{
    width: 60%;
    height: 11vh;
    color: white;
    display: flex;
    flex-wrap: wrap ;
    align-content: center;
    justify-content: center;
    font-family: auditype;
    margin-top: 246px;
    border: 1px solid white;
    margin-left: 6rem;
    cursor: pointer;

}
.ExploreMorebtn1{
    width: 60%;
    height: 11vh;
    color: rgb(35, 13, 13);
    display: flex;
    flex-wrap: wrap ;
    align-content: center;
    justify-content: center;
    font-family: auditype;
    margin-bottom: 12px;
    margin-top: 246px;
    border: 1px solid white;
    margin-left: 6rem;
    cursor: pointer;

}

.ExploreMorebtn1 p{
    font-size: 12px;   
}




.ExploreMorebtn:hover{
    border: 1px solid rgba(255, 255, 255, 0.515);


}
.ExploreMorebtn:hover p{
    color: rgba(255, 255, 255, 0.616);


}
.ExploreMorebtn p{
    font-size: 13px;
    margin-top: 22px;
    margin-left: 0px;
   
}

.MyAudiConnect{
    width: 100%;
    margin-top: 65px;
    height: auto;
    background-color: black;
    display: flex;
}
.MyAudiConnectLeft{
    width: 60%;
    height: 100%;

}
.MyAudiConnectRight{
    width: 40%;
    height: 100%;
}
.MyAudiConnectRight img{
    width: 100%;
    height: 100%;
}

.MyAudiConnectinnercontainer h6{
    font-family: auditype;
    font-weight: 100;
    font-size: 25px;
    margin-left: 11px
}
.connectbtns {
    margin-top: 31px;
    width: 100%;
    margin-bottom: 11px;
    height: 9vh;
    display: flex;
}

.cntbtn1{
    margin-left: 11px;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;

}

.cntbtn2{
    margin-left: 11px;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
border: 1px solid white;
}
.cntbtn1:hover{
    border: 1px solid rgba(255, 255, 255, 0.515);


}
.cntbtn2:hover{
    color: rgba(255, 255, 255, 0.616);

}

.cntbtn1, p{
    font-size: 15px;

}
.cntbtn2, p{
    font-size: 15px;

}



.YourAudiIsWaitingContainer{
    width: 95%;
    height: auto;


}

.audiIsWaitingTitleContainer{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
}
.audiIsWaitingTitleContainer h6{
    font-family: audiextented;
    font-size: 24px;
    
   
}
.AudiBoxs{
    width: 100%;
    height: 56vh;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 29px;
}


.Testdriveimg{
    width: 100%;
    height: 70%;
}
.Testdriveimg img{
    width: 100%;
    height: 100%;
}

.AudiB1 p{
    font-size: 15px;
    font-family: auditype;
    margin-top: 11px;


}
.AudiB1 h6{
    font-size: 14px;
    font-family: auditype;
    margin-top: 8px;
    font-weight: 100;
}


.chatwithbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 77px; 
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 10px; 
    cursor: pointer;
}
.chatwithbot img{
    border-radius: 30px; 
    width: 100%;
    height: 100%;
}

.modelbr{
    width: 100%;
    height: 92vh;
}


.hlo{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.roww{

    display: flex;
    flex-wrap: wrap;
   flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: var(--bs-gutter-y);
}

.dealerLocation{
    margin-top: 140px;
}

.Exploremorebbtn1{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    }


 @media only screen and (min-width: 600px) and (max-width: 790px) {
    .audiisWc{
        width: 100%;
        height: 99vh;
        margin-top: 124%;
    } 
    
     .YourAudiIsWaitingMainContainer{
    width: 100%;
    height: 376vh;
    margin-top: 77px;
   
}   


@media only screen and (min-width: 766px) and (max-width: 770px) {
    .audiisWc {
        width: 100%;
        height: 99vh;
        margin-top: 1%;
    }
    .YourAudiIsWaitingMainContainer {

        height: 160vh;
        margin-top: 77px;
    }
  }




      }
      

      @media only screen and (min-width: 770px) and (max-width: 900px) {
        .audiisWc{
            width: 100%;
            height: 99vh;
            margin-top: 14%;
        } 
        
         .YourAudiIsWaitingMainContainer{
        width: 100%;
        height: 176vh;
        margin-top: 77px;
       
    }   
    
    
    
    
    
    
          }
          

  @media only screen and (min-width: 100px) and (max-width: 400px) {
    .headerContainer{
        width: 100%;
        height: 13vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
    }
    .augmentedReality {
        width: 93%;
        height: auto;
        display: flex;
    }

    .TheHomeOfElectric {
        width: 89%;
        height: 46%;
        background-color: white;
        margin-left: 21px;
        font-family: auditype;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn1 {
        width: 35%;
        height: 100%;
        background-color: #000000;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-left: 21px;
        margin-top: 11px;
        font-size: 10px;
        font-family: auditype;
        cursor: pointer;
    }
    .btn2 {
        width: 57%;
        height: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 11px;
        font-size: 11px;
        font-family: auditype;
        cursor: pointer;
    }   

.ExploreMorebtn1 {
    width: 60%;
    height: 9vh;
    color: rgb(35, 13, 13);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: auditype;
    margin-bottom: 12px;
    margin-top: 246px;
    border: 1px solid white;
    margin-left: 4rem;
    cursor: pointer;
}
.MyAudiConnectinnercontainer h6 {
    font-family: auditype;
    font-weight: 100;
    font-size: 14px;
    margin-left: 8px;
}
.audiisWc {
    margin-top: 225%;
    width: 100%;
    height: 202vh;
}
.footerContainer2 {
    width: 96%;
    height: auto;
    margin-top: 28%;
    display: flex;
}
.ft2 {
    width: 29%;
    height: 100%;
    margin-right: 27px;
    color: white;
    cursor: pointer;
}
.FooterMainContainer {
    width: 100%;
    height: 262vh;
    background-color: black;
    padding-left: 4%;
}
.Testdriveimg img {
    width: 100%;
    height: 85%;
}
.AudiB1 p {
    font-size: 15px;
    font-family: auditype;
    margin-top: -21px;
}
.VirtualShowroomContant1 h2 {
    font-family: audiextented;
    font-size: 19px;
}
.VirtualShowroomContant1 {
    width: 95%;
    height: 30%;
    margin-left: 5px;
}
.sidebar li {
    font-family: auditype;
    font-size: 17px;
    margin-top: 14px;
    margin-left: 65px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.657);
    position: relative;
    width: 26vh;
}
}

